*{
    font-family: 'Roboto', sans-serif;
    
}
.container{
    margin-top:20px;
}
.navbar-bottom-shadow{
   border-bottom:1px solid #fde8cd ;
   box-shadow: 5px 5px 5px #888888;
  
}
li a{
    color:black;
    font-family: 'Roboto', sans-serif;
   
}
li a:hover{
    color:#00bcd4;
}
label{
   font-size:2vh;
   font-weight:bold;
}
.same-line{
   display: inline-block;
}
.input-text{
    width:100%;
    margin:10px 0;
    font-size:2.8vh;
}
.input-search{
    width:80%;
    font-size:2vh;
}
.btn-search{
    border:none;
    background-color:#19456b;
    text-align:center;
    color: white;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;

    padding:1px;
    width: 50px;
   
   
}
.show-job{
    margin:10px 0;
}
.search-box{
    margin:10px 0;
    position: fixed;
    width: 380px;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
 .job-title{
     font-size:3.5vh;
 }
 .company-name{
     font-size:2vh;
     color: #cdd0cb;
     font-weight: bold;
 }
 .salary{
     font-size:1.3vh;
     color:red;
 }
 @media only screen and (max-width: 600px) {
    .input-search{
        width:120px;
        height:20px;
        font-size:1.3vh;
    }
    .btn-search{
        width: 25px;
        height:20px;
        font-size:2.7vh;
        border-bottom-right-radius:0px;
         border-top-right-radius:0px;
    }
    .search-box{
      
        width: 100%;
        position: relative;;
    }
}